{% extends "layout.html" %}
{% block content %}

<div class="text-left">
  <h1 class="contact-1 mb-5">About Us</h1>
  
</div>

<div class="media border p-3">
    <img src="{{ url_for('static', filename = 'logos/logo.png') }}" alt="Nut Logo" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h3>Nuts and Bolts <small><i>Est. 2020</i></small></h3>
      <p>Something something covidpocolyps something

        Something something covidpocolyps somethingSomething something covidpocolyps somethingSomething something covidpocolyps something
        Something something covidpocolyps somethingSomething something covidpocolyps somethingSomething something covidpocolyps something
        Something something covidpocolyps somethingSomething something covidpocolyps somethingSomething something covidpocolyps something
        Something something covidpocolyps somethingSomething something covidpocolyps somethingSomething something covidpocolyps something
        Something something covidpocolyps somethingSomething something covidpocolyps somethingSomething something covidpocolyps something
        Something something covidpocolyps somethingSomething something covidpocolyps somethingSomething something covidpocolyps something
        Something something covidpocolyps somethingSomething something covidpocolyps somethingSomething something covidpocolyps something
        Something something covidpocolyps somethingSomething something covidpocolyps somethingSomething something covidpocolyps something
        Something something covidpocolyps somethingSomething something covidpocolyps somethingSomething something covidpocolyps something
      </p>
    </div>
  </div>

{% endblock content %}