{% extends "layout.html" %}
{% block content %}

<div class="text-center">
  <h1 class="contact-1 mb-5">Have questions?</h1>
  <h2>Contact us!</h2>
  <p>If you have questions or concerns, please direct them to our support teams via one of the following options:</p>
  <h2>Phone</h2>
  <p>You can contact us directly by phone by calling 1-800-NUTS. Our call centers are open weekdays 9:00 AM to 5:00 PM,
    weekends 9:00 AM to 12:00 PM.</p>
  <h2>Email</h2>
  <p>If you cannot call our phone number, try contacting support@nutsandbolts.com with your concerns. Please note that
    our teams may take 1-3 business days to respond.</p>
  <h2>Location</h2>
  <p>If you wish to connect with us in person, our store is located at 6754 Nuts&Bolts Drive, Columbus, OH 43228 United
    States.</p>
</div>

{% endblock content %}