{% extends "layout.html" %}
{% block content %}

<div class="text-center">
    <h1 class="contact-1"><span style="font-size: 2em">Have questions?</span></h1>
    <br>
    <h1 class="contact-2"><span>Contact us!</span></h1>
    <p class="contact-3"><span>If you have questions or concerns, please direct them to our support teams via one of the following options:</span></p>
    <h1 class="contact-2">Phone</h1>
    <p class="contact-3"><span>You can contact us directly by phone by calling 1-800-NUTS. Our call centers are open weekdays 9:00 AM to 5:00 PM, weekends 9:00 AM to 12:00 PM.</span></p>
    <h1 class="contact-2"><span>Email</span></h1>
    <p class="contact-3"><span>If you cannot call our phone number, try contacting support@nutsandbolts.com with your concerns. Please note that our teams may take 1-3 business days to respond.</span></p>
  </div>
{% endblock content %}