{% extends "layout.html" %}
{% block content %}

<div class="text-center">
  <h1 class="contact-1 mb-5">Have questions?</h1>
  <h2 class="mt-5">Contact us!</h2>
  <p>If you have questions or concerns, please direct them to our support teams via one of the following options:</p>
  <h2 class="mt-5">Phone</h2>
  <p>You can contact us directly by phone by calling 1-800-NUTS. Our call centers are open weekdays 9:00 AM to 5:00 PM,
    weekends 9:00 AM to 12:00 PM.</p>
  <h2 class="mt-5">Email</h2>
  <p>If you cannot call our phone number, try contacting support@nutsandbolts.com with your concerns. Please note that
    our teams may take 1-3 business days to respond.</p>
  <h2 class="mt-5">Location</h2>
  <p>If you wish to connect with us in person, our store is located at 6754 Nuts&Bolts Drive, Columbus, OH 43228 United
    States.</p>

  <h2 class="mt-5"> Got a Question? </h2>
  <p> Fill out the form below and we will get back to you as soon as possible!</p>

  <div class="content-section col-md-8 mx-auto">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Submit Question</legend>
      <div class="form-group">
        {{ form.subject.label(class="form-control-label") }}
        {% if form.subject.errors %}
        {{ form.subject(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.subject.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.subject(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.text.label(class="form-control-label") }}
        {% if form.text.errors %}
        {{ form.text(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.text(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-dark w-100") }}
      </div>
      </fieldset>
    </form>
  </div>

</div>

{% endblock content %}