{% extends "layout.html" %}
{% block content %}

<div class="text-center">
    <h1 class="contact-1 mb-5">Frequently Asked Questions</h1>
    <h2 class="mt-5">I just placed an order, how do I cancel it?</h2>
    <p>Please contact us to cancel the order. Follow the "Contact us" button below</p>
    <h2 class="mt-5">How long before I can come and pick my order up?</h2>
    <p>Please allow a few hours before you come and pick up. If ordered after 2pm, you must wait until next business day</p>

</div>

{% endblock content %}