{% extends 'layout.html' %}
{% block content %}

<div class="text-center">
  <div class="banner-home1">
    <h1 class="my-5">Nuts & Bolts</h1>
  </div>
  <div class="banner-home2 my-3">
    <h2 class="my-3">All the Essentials for your next home improvement project</h2>
    <img class="rounded" src="{{ url_for('static', filename = 'images/Carpenter-Photo.jpg') }}" alt="A man cutting a board">
    <h2 class="mt-2 mb-5">Design your Dreams</h2>
  </div>
  <div class="container-fluid my-3 text-center">
    <img class="img-thumbnail" src="{{ url_for('static', filename = 'images/brands.jpg') }}" alt="Various logos of brands available">
    <h3>Brands you can Trust</h3>
  </div>
</div>

{% endblock content %}