{% extends 'layout.html' %}
{% block content %}

<div class="text-center">
  <div class="banner-home1">
    <h1 class="my-5">Nuts & Bolts</h1>
  </div>
  <div class="banner-home2">
    <h2 class="my-3">All the Essentials for your next home improvement project</h2>
    <img src="{{ url_for('static', filename = 'images/Carpenter-Photo.jpg') }}" class="img-rounded">
    <h2 class="mt-2 mb-5">Design your Dreams</h2>
    <p class="my-2">Return soon for a Nuts & Bolts online shopping experience!</p>
  </div>
</div>

{% endblock content %}