<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'logos/favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/sticky-footer-navbar.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <title>Nuts & Bolts</title>
</head>

<body>
  <header class="site-header nav-font">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">
          <img src="{{ url_for('static', filename = 'logos/logo.png') }}" class="d-inline-block align-middle"
            style="height: 40px;width: auto;">
          <span class="ml-1 align-bottom">Nuts & Bolts</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <!-- Links for the middle of the nav bar inside this div -->
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{{ url_for('main.product_list') }}">Product List</a>
          </div>
          <!-- Links for the right side of the nav bar inside this div -->
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="{{ url_for('main.show_cart') }}">Cart</a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkManageInventory"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage Inventory
              </a>
              <div class="dropdown-menu bg-dark navbar-dark" aria-labelledby="navbarDropdownMenuLinkManageInventory">
                <a class="dropdown-item nav-link" href="{{ url_for('management.add_to_inventory') }}">Add Inventory</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="w-100 mx-15px">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="text-center alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
  <footer class="footer bg-dark">
    <div class="container nav-font text-center">
      <a class="mx-5" href="{{ url_for('main.contact_us') }}">Contact Us</a>
      <a class="mx-5" href="{{ url_for('main.faq') }}">FAQ</a>
    </div>
  </footer>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.2.1.slim.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>