{% extends 'layout.html' %}
{% block content %}
<article class="media rounded content-section my-2">
    <div class="media-body">
        <div class="article-metadata no-overflow">
            {% if product.image_name %}
            <div class="text-center mw-100">
                <img class="border border-secondary mw-100"
                    src="{{ url_for('static', filename='/images/products/' + product.image_name ) }}"
                    {% if product.image_alt_text %} alt="{{ product.image_alt_text }}" {% endif %}>
            </div>
            {% endif %}
            <span class="font-weight-bold">${{ product.price }}</span>
            <span class="font-weight-bold float-right">SKU: {{ product.sku }}</span>
        </div>
        <h2 class="article-title">{{ product.name | title }}</h2>
        <p class="article-content text-wrap-word-break">{{ product.description }}</p>
        <div>
            {%- if current_user.is_authenticated and current_user.is_admin -%}
            <a class="btn btn-secondary mt-2"
                href="{{ url_for('management.update_inventory', product_id=product.id) }}">Update</a>
            {%- endif -%}
            {%- if product.quantity == 0 -%}
            <b class="text-danger"> OUT OF STOCK!</b>
            {%- else -%}
            <div class="col-md-2 ml-auto">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.quantity.label(class="form-control-label") }}
                        {% if form.quantity.errors %}
                        {{ form.quantity(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.quantity.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.quantity(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.add(class="btn btn-outline-dark w-100") }}
                    </div>
                </form>
            </div>
            {%- endif -%}
        </div>
    </div>
</article>
{% endblock content %}