{% extends 'layout.html' %}
{% block content %}
<div class="my-5">
    <h1 class="text-center">Cart</h1>
</div>
{% if cart %}
{% for key in cart %}
<article class="media rounded content-section my-2">
    <div class="media-body">
        <div class="article-metadata no-overflow">
            <span class="font-weight-bold">${{ cart[key]['price'] }}</span>
            <span class="font-weight-bold float-right">SKU: {{ cart[key]['sku'] }}</span>
        </div>
        <h2 class="article-title">{{ cart[key]['name'] | title }}</h2>
        <p class="font-weight-bold float-right">Quantity: {{ cart[key]['quantity'] }}</p>
        <a class="btn btn-outline-danger btn-sm" href="{{ url_for('main.remove_item', id=key) }}">Remove Item</a>
    </div>
</article>
{% endfor %}
<div class="mt-2">
    <a href="{{ url_for('main.clear_cart') }}" class="btn btn-sm btn-danger">Clear Cart</a>
    <a class="btn btn-secondary btn-sm float-right" href="{{ url_for('main.checkout') }}">Checkout</a>
</div>
{% else %}
<h2 class="text-center">Uh-oh, it looks like the cart is empty.</h2>
{% endif %}
{% endblock content %}