{% extends 'layout.html' %}
{% block content %}

<div class="my-5">
    <h1 class="text-center">Cart</h1>
</div>
{% if cart %}
{% for key in cart %
}<div class="col-sm-12">
    
    <p><a id="btnEmpty" href="#" class="btn btn-danger">Clear Cart</a></p>
</div>
<article class="media rounded content-section my-2">
    <div class="media-body">
        <div class="article-metadata no-overflow">
            <span class="font-weight-bold">${{ cart[key]['price'] }}</span>
            <span class="font-weight-bold float-right">SKU: {{ cart[key]['sku'] }}</span>
        </div>
        <h2 class="article-title">{{ cart[key]['name'] | title }}</h2>
        <p class="font-weight-bold float-right">Quantity: {{ cart[key]['quantity'] }}</p>
    </div>
</article>
{% endfor %}
{% else %}
<h2 class="text-center">Uh-oh, it looks like the cart is empty.</h2>
{% endif %}
{% endblock content %}